---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
  <section class="min-h-[calc(100vh-64px)] bg-white px-4 py-8">
    <h1 class="page-title">Contact</h1>
  </section>
</Layout>